@font-face {
    font-family: "DeathNote";
    src: url("./fonts/Death Note.ttf") format("truetype");
}

@font-face {
    font-family: "OnePiece";
    src: url("./fonts/OnePiece-zAqL.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #a5b1c2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Animebackground.png');
}

.wrapper{
    perspective: 3000px;
}

.card{
    width: 420px;
    height: 620px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.9s ease-in-out;
    cursor: pointer;
    border-radius: 18px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

.card:hover{
    transform: rotateY(180deg);
}

.front-page, .back-page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 18px;
    overflow: hidden;
}

.front-page{
    background-image: url(Yagami-Light.jpg);
    background-size: cover;
    background-position: center;
}

.card-info{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.card-subtitle{
    font-size: 1.2rem;
    margin-top: 6px;
    font-family: "OnePiece", cursive;
    letter-spacing: 2px;
    font-weight: 700;
    background: linear-gradient(90deg,#00f0ff, #ff1e1e);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.back-page{
    background: linear-gradient(90deg, #ff3b3b, #0fbcf9);
    background-color: #1e272e;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    text-align: center;
    padding: 30px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff transparent;
}

.card-content h3{
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: "DeathNote", cursive;
}

.card-description{
    font-size: 1.05rem;
    line-height: 1.6;
    color: #d2dae2;
    margin-bottom: 25px;
    font-family: "DeathNote", cursive;
    
}

.card-button{
    background: linear-gradient(90deg, #ff3b3b, #6a11cb, #0fbcf9);
    color: white;
    border: none;
    padding: 14px 30px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "DeathNote", cursive;
}

.card-button:hover{
    background-color: transparent;
    color: #0fbcf9;
    transform: scale(1.05);
}
